.responsive{
    width: 50%;
    padding: 20px;
    background-color: white;
}
.btn-color{
    background-color: #966F33 ;
}
.color{
    background-color: #966F33 ;
}

@media only screen and (max-width: 550px){
    .responsive{
        width: 100%;
        padding: 0;
    }
}