.footer {
    display: flex;
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background-color: #654321 ;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

img {
    margin-right: 40px;
}

@media only screen and (max-width: 550px) {
    .footer {
        display: inline;
    }
    img{
        margin-left: 60px;
        margin-right: 20px;
    }
}